# ──────────────────────────────────────────────
# Stripe — Clés API
# ──────────────────────────────────────────────
# Clé publique (exposée au front-end via VITE_)
VITE_STRIPE_PUBLIC_KEY=pk_test_51THB424CbpcU5Mrx7w4XD5bL19RioqZwxchqRPDXNcPTG95lKxhMwOn2iwEMFCwDBMG5uaXFMjL3CvFt31zAvqha00Kpqg4d00

# Clé secrète (backend uniquement — JAMAIS exposée côté client)
STRIPE_SECRET_KEY=sk_test_51THB424CbpcU5MrxFArHwuFZF74NyFNo1KsXnQEERfG5qfGUEFgCA7c3MuNrXMdsTuXbNXCOwvK5jmXAjOYfdEEV00Fs2BOKSM
